
IG1App/Debug/Pixmap32RGBA.obj
.vs/ProyectosIG_VS17_GL_FG_GLM/v15/.suo
*.db
.vs/ProyectosIG_VS17_GL_FG_GLM/v15/Browse.VC.opendb
.vs/ProyectosIG_VS17_GL_FG_GLM/v15/.suo
*.db
*.ipch
IG1App/Debug/Viewport.obj
